.programs {
  display: flex;
  flex-direction: column;
}

.programs__item {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;

  &:first-of-type {
    margin-top: 23px;
  }
}

.programs__title {
  margin-top: 0;
  margin-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111;
  text-transform: @text-transform;
  top: -33px;
  position: relative;
  padding-left: 5px;
  margin-bottom: 0;

  &_mass {
    top: -10px;
    margin-bottom: 19px;
  }
}

.programs__icon {
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &_sit {
    background-image: url("../img/cat-icon.png");
    width: 35px;
    height: 49px;
    top: 8px;
    left: 12px;
  }

  &_walk {
    background-image: url("../img/catgo-icon.png");
    width: 67px;
    height: 28px;
    top: 22px;
    left: -8px;
  }
}

.programs__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 28px;
    left: 22px;
  }
}

.programs__text {
  font-family: "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 23px;
}

.programs__link {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #111;
  position: relative;
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/right_arrow_long.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 11px;
    top: 24px;
    left: 105px;
  }
}

@media (min-width: 768px) {
  .programs {
    margin-top: 540px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    margin-bottom: 30px;
    padding-left: 0;
    top: 0;
  }

  .programs__text {
    width: 54%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .programs__item {
    padding: 80px 50px 0 50px;
    min-height: 372px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;

    &::before {
      width: 200px;
      height: 200px;
      top: 88px;
      left: auto;
      right: 65px;
    }
  }

  .programs__link {
    border: 0;
  }

  .programs__icon {
    position: absolute;
    left: auto;

    &_sit {
      background-image: url("../img/cat-icon_tablet.png");
      width: 140px;
      height: 194px;
      top: 76px;
      right: 95px;
    }

    &_walk {
      background-image: url("../img/catgo-icon_tablet.png");
      width: 268px;
      height: 112px;
      top: 137px;
      right: 33px;
    }
  }
}

@media (min-width: 1440px) {
  .programs {
    flex-direction: row;
    max-width: 1220px;
    margin: 80px auto;
  }

  .programs__item {
    margin-right: 40px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      width: 100px;
      height: 100px;
      top: 49px;
      left: 49px;
      right: 65px;
    }
  }

  .programs__icon {
    right: auto;

    &_sit {
      background-image: url("../img/cat-icon_desktop.png");
      width: 70px;
      height: 97px;
      top: 42px;
      left: 64px;
    }

    &_walk {
      background-image: url("../img/catgo-icon_desktop.png");
      width: 134px;
      height: 56px;
      top: 72px;
      left: 31px;
    }
  }

  .programs__title {
    top: 0;
    margin-left: 145px;
  }

  .programs__text {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 26px;
      left: 130px;
    }
  }
}
